/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Space";
  src: url("../fonts/../fonts/space_age_cyrillic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Space";
  src: url("../fonts/../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Space";
  src: url("../fonts/../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: "Muller", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  color: #fff;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1220px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border: 1px solid #fff;
  padding: 15px 10px;
}

.title {
  font-family: "Space";
  padding: 100px 0;
  font-weight: normal;
  font-size: 48px;
  line-height: 100%;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 75px 0px 15px;
}
.header__content {
  max-width: 650px;
}
.header__title {
  font-family: "Space";
  font-weight: normal;
  font-size: 60px;
}
.header__title span {
  font-size: 110px;
  line-height: 100%;
}
.header__text {
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.header__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 5%;
}
.header__descr-text {
  width: 200px;
  font-size: 14px;
  line-height: 17px;
}
.header__descr-text:not(:last-child) {
  margin-right: 50px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}
.nav__link {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
@media (min-width: 1025px) {
  .nav__link:hover {
    color: #cb0e0e;
  }
}

.phone {
  font-size: 24px;
  line-height: 29px;
  margin-left: auto;
}

.login {
  margin-left: 22px;
  margin-right: 130px;
}

.about {
  background-image: url("../img/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 150px;
}
.about__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.about__img {
  max-width: 100%;
}
.about__content {
  width: 600px;
}
.about__content-title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 5px;
  font-weight: 400;
}
.about__content-subtitle {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #036cca;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.about__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
.about__content-text p {
  width: 165px;
}
.about__table {
  margin-bottom: 50px;
}
.about__table-caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}
.about__table-tr {
  border-bottom: 1px solid #fff;
}
.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
}
.about__table-td {
  padding: 10px 30px 10px 0;
}
.about__table-td span {
  display: block;
  font-size: 14px;
  line-height: 17px;
}
.about__btn {
  width: 400px;
}

.how-to {
  background-image: url("../img/how-to-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.how-to__box {
  text-align: center;
}
.how-to__box circle,
.how-to__box text,
.how-to__box foreignObject {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.how-to__box foreignObject {
  text-align: left;
}
.how-to__box g:hover circle {
  r: 20px;
  fill: #036cca;
}
.how-to__box g:hover text {
  fill: #036cca;
  font-size: 20px;
}
.how-to__box g:hover foreignObject {
  color: #036cca;
  font-size: 17px;
}

.to-book {
  background-image: url("../img/to-book-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.to-book__text {
  font-size: 30px;
}

.info {
  background-image: url("../img/info-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.special-offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.special-offer__item {
  width: 500px;
}
.special-offer__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 400px;
  text-align: center;
  border: 1px solid #fff;
  margin-bottom: 25px;
  padding: 40px 75px;
}
.special-offer__item-text {
  font-size: 24px;
  line-height: 29px;
  max-width: 236px;
  margin: 0 auto;
}
.special-offer__item-text span {
  color: #cb0e0e;
  text-decoration: underline;
}
.special-offer__old-price {
  text-align: right;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
  position: relative;
}
.special-offer__old-price::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  width: 68px;
  height: 2px;
  background-color: #cb0e0e;
}
.special-offer__new-price {
  font-size: 48px;
  line-height: 57px;
}
/*# sourceMappingURL=main.css.map */