/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Space";
  src: url("../fonts/../fonts/space_age_cyrillic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Space";
  src: url("../fonts/../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Space";
  src: url("../fonts/../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: "Muller", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  color: #fff;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1220px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border: 1px solid #fff;
  padding: 15px 10px;
}
@media (max-width: 576px) {
  .btn {
    padding: 10px;
    font-size: 21px;
  }
}
@media (max-width: 375px) {
  .btn {
    font-size: 17px;
  }
}

.title {
  font-family: "Space";
  padding: 100px 0;
  font-weight: normal;
  font-size: 48px;
  line-height: 100%;
}
@media (max-width: 768px) {
  .title {
    padding: 50px 0;
  }
}
@media (max-width: 576px) {
  .title {
    text-align: center;
  }
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
    color: #fff;
  }
  .burger__line {
    height: 3px;
    border-radius: 3px;
  }
  .burger::before {
    width: 20px;
    height: 3px;
    border-radius: 3px;
  }
  .burger::after {
    width: 40px;
    height: 3px;
    border-radius: 3px;
  }
}
.burger--active::before {
  width: 40px;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 75px 0px 15px;
}
@media (max-width: 1024px) {
  .header__top {
    padding: 30px 0 10px;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
  }
}
.header__content {
  max-width: 650px;
}
@media (max-width: 1024px) {
  .header__content {
    margin: 0 auto;
  }
}
.header__title {
  font-family: "Space";
  font-weight: normal;
  font-size: 60px;
}
.header__title span {
  font-size: 110px;
  line-height: 100%;
}
@media (max-width: 768px) {
  .header__title {
    font-size: 40px;
  }
  .header__title span {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 35px;
    text-align: center;
  }
  .header__title span {
    font-size: 55px;
  }
}
@media (max-width: 375px) {
  .header__title {
    font-size: 30px;
  }
  .header__title span {
    font-size: 50px;
  }
}
.header__text {
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .header__text p {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .header__text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .header__text {
    font-size: 22px;
  }
}
.header__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 5%;
}
.header__descr-text {
  width: 200px;
  font-size: 14px;
  line-height: 17px;
}
.header__descr-text:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .header__descr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .header__descr {
    display: block;
  }
  .header__descr-text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header {
    background-position: center right;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    padding: 250px 0px;
    background-color: #010203;
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-bottom: 50px;
    margin-right: 0;
  }
}
.nav__link {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.nav__link:focus {
  color: #cb0e0e;
}
@media (min-width: 1025px) {
  .nav__link:hover {
    color: #cb0e0e;
  }
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 23px;
  }
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}

.phone {
  font-size: 24px;
  line-height: 29px;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .phone {
    position: relative;
    z-index: 10;
  }
}
@media (max-width: 375px) {
  .phone {
    font-size: 17px;
  }
}

.login {
  margin-left: 22px;
  margin-right: 130px;
}
@media (max-width: 1024px) {
  .login {
    position: relative;
    margin-right: 0;
    z-index: 10;
  }
}

.menu--active {
  display: block;
}

.about {
  background-image: url("../img/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 150px;
}
.about__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 1160px) {
  .about__item {
    display: block;
  }
}
@media (max-width: 576px) {
  .about__item {
    padding-bottom: 100px;
  }
}
.about__img {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .about__img {
    margin-bottom: 50px;
  }
}
.about__content {
  width: 600px;
}
.about__content-title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 5px;
  font-weight: 400;
}
.about__content-subtitle {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #036cca;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.about__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
.about__content-text p {
  width: 165px;
}
@media (max-width: 1024px) {
  .about__content-text {
    display: block;
  }
  .about__content-text p {
    width: 100%;
    margin-bottom: 20px;
  }
  .about__content-text p:last-child {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .about__content {
    width: 100%;
  }
}
.about__table {
  margin-bottom: 50px;
}
.about__table-caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}
.about__table-tr {
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  .about__table-tr:first-child {
    display: none;
  }
}
.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 768px) {
  .about__table-tr + .about__table-tr {
    font-size: 20px;
    font-weight: 400;
  }
}
.about__table-td {
  padding: 10px 30px 10px 0;
}
.about__table-td span {
  display: block;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 768px) {
  .about__table-td span {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .about__table-td {
    display: block;
    text-align: right;
    border-bottom: 1px solid #fff;
  }
  .about__table-td::before {
    content: attr(aria-label);
    float: left;
  }
}
@media (max-width: 576px) {
  .about__table-td {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .about__table {
    width: 100%;
  }
}
.about__btn {
  width: 400px;
}
@media (max-width: 576px) {
  .about__btn {
    width: 100%;
  }
}

.how-to {
  background-image: url("../img/how-to-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.how-to__box {
  text-align: center;
}
.how-to__box circle,
.how-to__box text,
.how-to__box foreignObject {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.how-to__box foreignObject {
  text-align: left;
}
.how-to__box g:hover circle {
  r: 20px;
  fill: #036cca;
}
.how-to__box g:hover text {
  fill: #036cca;
  font-size: 20px;
}
.how-to__box g:hover foreignObject {
  color: #036cca;
  font-size: 17px;
}
@media (max-width: 576px) {
  .how-to {
    padding-bottom: 50px;
  }
  .how-to .title {
    font-size: 33px;
  }
}

.how-to__box-list {
  display: none;
}

@media (max-width: 850px) {
  .how-to__box svg {
    display: none;
  }

  .how-to__box-list {
    display: block;
  }

  .how-to__box-item {
    position: relative;
    padding-bottom: 30px;
    text-align: left;
    margin-left: 20px;
    padding-left: 30px;
  }
  .how-to__box-item:not(:last-child) {
    border-left: 1px solid #fff;
  }
  .how-to__box-item::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #036cca;
  }
  .how-to__box-item:last-child::before {
    left: -9px;
  }
}
.to-book {
  background-image: url("../img/to-book-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 100vh;
}
.to-book__text {
  font-size: 30px;
}
@media (max-width: 576px) {
  .to-book__text {
    font-size: 21px;
  }
}
@media (max-width: 576px) {
  .to-book .title {
    font-size: 27px;
  }
}

.info {
  background-image: url("../img/info-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
@media (max-width: 576px) {
  .info {
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .special-offer .title {
    font-size: 31px;
  }
}
.special-offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.special-offer__item {
  width: 500px;
}
@media (max-width: 576px) {
  .special-offer__item {
    width: 100%;
    margin-bottom: 50px;
  }
}
.special-offer__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 400px;
  text-align: center;
  border: 1px solid #fff;
  margin-bottom: 25px;
  padding: 40px 75px;
}
@media (max-width: 576px) {
  .special-offer__item-box {
    padding: 20px 50px;
    min-height: 300px;
  }
}
.special-offer__item-text {
  font-size: 24px;
  line-height: 29px;
  max-width: 236px;
  margin: 0 auto;
}
.special-offer__item-text span {
  color: #cb0e0e;
  text-decoration: underline;
}
.special-offer__old-price {
  text-align: right;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
  position: relative;
}
.special-offer__old-price::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  width: 68px;
  height: 2px;
  background-color: #cb0e0e;
}
.special-offer__new-price {
  font-size: 48px;
  line-height: 57px;
}
@media (max-width: 576px) {
  .special-offer__new-price {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 40px;
  }
}

.services {
  padding-bottom: 200px;
}
@media (max-width: 576px) {
  .services .title {
    font-size: 25px;
  }
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .services__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.services__box-list {
  width: 620px;
  margin-right: 80px;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 576px) {
  .services__box-list {
    width: 100%;
  }
}
.services__list-title {
  margin-bottom: 25px;
}
.services__list {
  margin-bottom: 25px;
}
.services__list-item {
  position: relative;
  padding-left: 36px;
}
.services__list-item::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.services__list-item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .services__list-item {
    font-size: 20px;
  }
}
.services__descr {
  font-size: 12px;
  line-height: 14px;
}
.services__buttons {
  width: 500px;
}
@media (max-width: 1024px) {
  .services__buttons {
    margin-top: 150px;
  }
}
@media (max-width: 576px) {
  .services__buttons {
    width: 100%;
  }
}
.services__btn:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .services__btn:not(:last-child) {
    margin-bottom: 30px;
  }
}
.services__btn--first {
  position: relative;
}
.services__btn--first::before {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 40px;
  background-image: url("../img/space-man.png");
  width: 192px;
  height: 150px;
}
@media (max-width: 576px) {
  .services__btn--first::before {
    bottom: 30px;
  }
}
@media (max-width: 576px) {
  .services {
    padding-bottom: 100px;
  }
}

.slider {
  text-align: center;
}
.slider__descr {
  font-family: "Space";
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-top: 50px;
}
@media (max-width: 576px) {
  .slider__descr {
    font-size: 21px;
    line-height: 22px;
    margin-top: 20px;
  }
}
.slider__inner {
  margin-bottom: 50px;
  border: 1px solid #fff;
  padding: 100px 0;
}
@media (max-width: 576px) {
  .slider__inner {
    padding: 50px 0px;
  }
}
.slider .swiper-button-prev {
  width: 100px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slider .swiper-button-prev::after {
  display: none;
}
@media (max-width: 1024px) {
  .slider .swiper-button-prev {
    position: static;
    margin-left: 30px;
    margin-top: 10px;
  }
}
.slider .swiper-button-next {
  width: 100px;
  right: 50px;
  top: 40%;
}
.slider .swiper-button-next::after {
  display: none;
}
@media (max-width: 1024px) {
  .slider .swiper-button-next {
    position: static;
    margin-left: auto;
    margin-right: 30px;
  }
}
.slider__arrow {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1060px) {
  .special-offer__inner {
    display: block;
  }
}
.contacts {
  background-color: #010203;
  padding-bottom: 100px;
}
.contacts__title {
  padding-bottom: 46px;
}
@media (max-width: 576px) {
  .contacts__title {
    font-size: 41px;
  }
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .contacts__inner {
    display: block;
  }
}
.contacts__box {
  width: 500px;
}
@media (max-width: 576px) {
  .contacts__box {
    width: 100%;
    margin-bottom: 50px;
  }
}
.contacts__box-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 80px;
}
@media (max-width: 576px) {
  .contacts__box-text {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contacts__form-input {
  font-size: 14px;
  line-height: 17px;
  font-family: "Muller";
  background-color: transparent;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  margin-bottom: 40px;
  color: #fff;
  outline: none;
}
.contacts__form-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 17;
}
.contacts__form-input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 17;
}
.contacts__form-input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 17;
}
.contacts__form-input::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 17;
}
.contacts__form-input::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 17;
}
.contacts__btn {
  margin-top: 30px;
}
.contacts__quarantees {
  width: 500px;
}
@media (max-width: 576px) {
  .contacts__quarantees {
    width: 100%;
  }
}
.contacts__quarantees-text {
  font-size: 24px;
  line-height: 29px;
}
.contacts__quarantees-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}
@media (max-width: 576px) {
  .contacts {
    padding-bottom: 0;
  }
}

.footer {
  padding: 100px 0px 150px;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .footer__inner {
    display: block;
  }
}
@media (max-width: 576px) {
  .footer__inner {
    text-align: center;
  }
}
.footer__text {
  width: 230px;
  margin-right: 50px;
  font-size: 21px;
}
.footer__text p {
  margin: 0;
}
.footer__text p:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .footer__text {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .footer__text {
    width: 100%;
  }
}
.footer__nav .footer__nav-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 120px;
  margin-right: 100px;
}
@media (max-width: 768px) {
  .footer__nav .footer__nav-list {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .footer__nav .footer__nav-list {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .footer__nav {
    margin: 0;
  }
}
.footer__links-item:not(:last-child), .footer__nav-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__nav-link, .footer__links-link {
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .footer {
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=main.css.map */