.btn {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border: 1px solid $color-white;
  padding: 15px 10px;

  @include mobile {
    padding: 10px;
    font-size: 21px;
  }

  @include mobile-mini {
    font-size: 17px;
  }
}
