.how-to {
  background-image: url("../img/how-to-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  &__box {
    text-align: center;
    circle,
    text,
    foreignObject {
      transition: all 0.5s;
      cursor: pointer;
    }

    foreignObject {
      text-align: left;
    }

    g:hover circle {
      r: 20px;
      fill: $color-blue;
    }

    g:hover text {
      fill: $color-blue;
      font-size: 20px;
    }

    g:hover foreignObject {
      color: $color-blue;
      font-size: 17px;
    }
  }

  @include mobile {
    padding-bottom: 50px;
    .title {
      font-size: 33px;
    }
  }
}

.how-to__box-list {
  display: none;
}

@media (max-width: 850px) {
  .how-to__box svg {
    display: none;
  }
  .how-to__box-list {
    display: block;
  }
  .how-to__box-item {
    position: relative;
    padding-bottom: 30px;
    text-align: left;
    margin-left: 20px;
    padding-left: 30px;
    &:not(:last-child) {
      border-left: 1px solid $color-white;
    }
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -10px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: $color-blue;
    }

    &:last-child::before {
      left: -9px;
    }
  }
}
