<section class="about" id="about">
  <div class="container">
    <h2 class="title">О нас</h2>
    <div class="about__item" id="price">
      <picture>
        <source srcset="img/about-1.avif" type="image/avif" />
        <source srcset="img/about-1.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-1.jpg"
          class="image about__img"
          alt="Branson"
        />
      </picture>
      <div class="about__content">
        <h3 class="about__content-title">Virgin Galactic</h3>
        <h5 class="about__content-subtitle">Суборбитальный полет</h5>
        <div class="about__content-text">
          <p>
            Компания Virgin Galactic 11 июля 2021 осуществила первый
            "туристический" суборбитальный полет со своим основателем,
            британским миллиардером Ричардом Брэнсоном на борту.
          </p>
          <p>
            Корабль "Unity 22" стартовал с космического порта "Америка" в штате
            Нью-Мексико с помощью самолета-носителя VMS Eve. Позже он
            отсоединился от самолета-носителя.
          </p>
          <p>
            Руководство Virgin Galactic надеется, что массовые суборбитальные
            космические полеты начнутся до 2022 года.
          </p>
        </div>
        <table class="about__table">
          <tr class="about__table-tr">
            <td class="about__table-td">Время</td>
            <td class="about__table-td">Расстояние</td>
            <td class="about__table-td">В невесомости</td>
            <td class="about__table-td">Стоимость</td>
            <td class="about__table-td">Вернешься?</td>
          </tr>
          <tr class="about__table-tr">
            <td aria-label="Время в пути" class="about__table-td">
              1
              <span>час</span>
            </td>
            <td aria-label="Расстояние" class="about__table-td">
              80
              <span>км</span>
            </td>
            <td aria-label="В невесомости" class="about__table-td">
              4-5
              <span>мин</span>
            </td>
            <td aria-label="Стоимость" class="about__table-td">
              250
              <span>тыс. $</span>
            </td>
            <td aria-label="Вернешься?" class="about__table-td">
              99
              <span>%</span>
            </td>
          </tr>
        </table>

        <button class="btn btn-reset about__btn">Забронировать полет</button>
      </div>
    </div>

    <div class="about__item">
      <picture>
        <source srcset="img/about-2.avif" type="image/avif" />
        <source srcset="img/about-2.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-2.jpg"
          class="image about__img"
          alt="Bezos"
        />
      </picture>
      <div class="about__content">
        <h3 class="about__content-title">Blue Origin</h3>
        <h5 class="about__content-subtitle">Суборбитальный полет</h5>
        <div class="about__content-text">
          <p>
            Суборбитальные ракета New Shepard компании Blue Origin 20 июля
            2021года впервые в истории компании вывела на космическую высоту
            капсулу с людьми, с самым богатым человеком мира Джеффом Безосом на
            борту.
          </p>
          <p>
            New Shepard высотой 18 м и шириной 4 м - многоразовый космический
            аппарат. Бустерная установка поднимает герметичное пассажирское
            судно на высоту около 76 км. Импульс преподносит капсулу вверх в
            космос.
          </p>
          <p>
            После этого она опускается на землю под тремя парашютами.
            Ракета-носитель тоже возвращается домой.
          </p>
        </div>
        <table class="about__table">
          <caption class="about__table-caption">
            * стоимость 200-250 тыс. $ по четным/нечетным или как повезет
          </caption>
          <tr class="about__table-tr">
            <td class="about__table-td">Время в пути</td>
            <td class="about__table-td">Расстояние</td>
            <td class="about__table-td">В невесомости</td>
            <td class="about__table-td">Стоимость</td>
            <td class="about__table-td">Вернешься?</td>
          </tr>
          <tr class="about__table-tr">
            <td aria-label="Воемя в пути" class="about__table-td">
              10
              <span>минут</span>
            </td>
            <td aria-label="Расстояние" class="about__table-td">
              100
              <span>км</span>
            </td>
            <td aria-label="В невесомости" class="about__table-td">
              4-5
              <span>мин</span>
            </td>
            <td aria-label="Стоимость" class="about__table-td">
              250
              <span>тыс. $</span>
            </td>
            <td aria-label="Вернешься?" class="about__table-td">
              99
              <span>%</span>
            </td>
          </tr>
        </table>

        <button class="btn btn-reset about__btn">Забронировать полет</button>
      </div>
    </div>

    <div class="about__item">
      <picture>
        <source srcset="img/about-3.avif" type="image/avif" />
        <source srcset="img/about-3.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-3.jpg"
          class="image about__img"
          alt="Mask"
        />
      </picture>
      <div class="about__content">
        <h3 class="about__content-title">SpaceX</h3>
        <h5 class="about__content-subtitle">А может на Луну или Марс?</h5>
        <div class="about__content-text">
          <p>
            В 2016 году на 67-м ежегодном Международном конгрессе астронавтики
            Илон Маск заявил, что оптимистичный временной график предусматривает
            первый полет к Марсу в 2022 году (доставка груза).
          </p>
          <p>
            Полет с экипажем - в 2024 году. На Красную планету экипаж прибудет в
            2025-26 году. "Я начал SpaceX, потому что хотел помочь снизить
            стоимость космических перевозок, чтобы основать жизни на другой
            планете".
          </p>
          <p>
            Если все пойдет по плану, то благодаря Маск к 2050 году жителями
            Красной планеты смогут себя назвать около миллиона человек. Туда их
            доставит флотилия из тысячи кораблей Starship.
          </p>
        </div>
        <table class="about__table">
          <tr class="about__table-tr">
            <td class="about__table-td">Время в пути</td>
            <td class="about__table-td">Расстояние</td>
            <td class="about__table-td">В невесомости</td>
            <td class="about__table-td">Стоимость</td>
            <td class="about__table-td">Вернешься?</td>
          </tr>
          <tr class="about__table-tr">
            <td aria-label="Время в пути" class="about__table-td">
              150
              <span>дней</span>
            </td>
            <td aria-label="Расстояние" class="about__table-td">
              55
              <span>млн/км</span>
            </td>
            <td aria-label="В невесомости" class="about__table-td">
              Много
              <span>мин</span>
            </td>
            <td aria-label="Стоимость" class="about__table-td">
              10
              <span>млн. $</span>
            </td>
            <td aria-label="Вернешься?" class="about__table-td">
              1
              <span>%</span>
            </td>
          </tr>
        </table>

        <button class="btn btn-reset about__btn">Забронировать полет</button>
      </div>
    </div>
  </div>
</section>
