<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__text">
        <p>Служба поддержки работает межгалактично и суборбитально</p>
        <p>График приема посетителей строго по записи</p>
      </div>
      <nav class="nav footer__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item footer__nav-item">
            <a href="#" class="nav__link footer__nav-link">О нас</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#" class="nav__link footer__nav-link">Стоимость</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#" class="nav__link footer__nav-link">Доп. услуги</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#" class="nav__link footer__nav-link">Гарантии</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#" class="nav__link footer__nav-link">Новости</a>
          </li>
        </ul>
      </nav>

      <ul class="footer__links nav__list list-reset">
        <li class="nav__item footer__links-item">
          <a href="#" class="nav__link footer__links-link">spacex.com</a>
        </li>
        <li class="nav__item footer__nav-item">
          <a href="#" class="nav__link footer__links-link">blueorigin.com</a>
        </li>
        <li class="nav__item footer__nav-item">
          <a href="#" class="nav__link footer__links-link"
            >virgingalactic.com</a
          >
        </li>
        <li class="nav__item footer__links-item">
          <a href="tel:78007777712" class="nav__link footer__links-link"
            >+7 (800) 777-77-12</a
          >
        </li>
        <li class="nav__item footer__links-item">
          <a href="#" class="nav__link footer__links-link">МКС</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
