<section class="info">
  <div class="special-offer">
    <div class="container">
      <h2 class="title">
        Спец <br />
        предложение
      </h2>
      <div class="special-offer__inner">
        <div class="special-offer__item">
          <div class="special-offer__item-box">
            <p class="special-offer__item-text">
              Забронируй полет
              <span>прямо сейчас</span>
              и получи скидку 1000$
            </p>
            <div class="special-offer__price">
              <p class="special-offer__old-price">250 000 $</p>
              <p class="special-offer__new-price">249 000 $</p>
            </div>
          </div>
          <button class="btn btn-reset special-offer__btn">
            Забронировать полет
          </button>
        </div>

        <div class="special-offer__item">
          <div class="special-offer__item-box">
            <p class="special-offer__item-text">
              Приведи друга и получи
              <span>скидку 10 %</span>
              на следующий полет, если вернешься
            </p>
            <div class="special-offer__price">
              <p class="special-offer__old-price">250 000 $</p>
              <p class="special-offer__new-price">225 000 $</p>
            </div>
          </div>
          <button class="btn btn-reset special-offer__btn">
            Забронировать полет
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="container">
      <h2 class="title">
        Дополнительные <br />
        услуги
      </h2>

      <div class="services__inner">
        <div class="services__box-list">
          <p class="services__list-title">
            С Вами полетит профессиональный фотограф
          </p>
          <ul class="services__list list-reset">
            <li class="services__list-item">
              20 фотографий в профессиональной обработке
            </li>
            <li class="services__list-item">Фото книга</li>
            <li class="services__list-item">Магнит на холодильник в подарок</li>
          </ul>
          <p class="services__descr">
            Стоимость фотосессии в невесомости 100 000 $. Доплати 50 000 $ и
            получи все фото в цветокоррекции на диске.
          </p>
        </div>
        <div class="services__buttons">
          <button class="btn btn-reset services__btn services__btn--first">
            Купить услуги фотографа</button
          ><button class="btn btn-reset services__btn">Хочу диск</button>
        </div>
      </div>
    </div>
  </div>

  <div class="slider">
    <div class="container">
      <div class="slider__inner">
        <div class="swiper">
          <div class="slider__box swiper-wrapper">
            <div class="swiper-slide slider__box-item">
              <picture>
                <source srcset="../img/slide.avif" type="image/avif" />
                <source srcset="../img/slide.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="../img/slide.jpg"
                  class="image"
                  alt="Slide image"
                />
              </picture>
            </div>
            <div class="swiper-slide slider__box-item">
              <picture>
                <source srcset="../img/slide.avif" type="image/avif" />
                <source srcset="../img/slide.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="../img/slide.jpg"
                  class="image"
                  alt="Slide image"
                />
              </picture>
            </div>
            <div class="swiper-slide slider__box-item">
              <picture>
                <source srcset="../img/slide.avif" type="image/avif" />
                <source srcset="../img/slide.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="../img/slide.jpg"
                  class="image"
                  alt="Slide image"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-button-prev">
            <img
              loading="lazy"
              src="../img/slider-arrow.png"
              class="image slider__arrow slider__arrow--prev"
              alt="Slide arrow"
            />
          </div>
          <div class="swiper-button-next">
            <img
              loading="lazy"
              src="../img/slider-arrow.png"
              class="image slider__arrow slider__arrow--next"
              alt="Slide arrow"
            />
          </div>
          <p class="slider__descr">
            Ты знаешь о Космическом законе – представь себе то, что ты хочешь, и
            оно войдет в твою жизнь.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
